on:
  workflow_dispatch:
  push:
    branches: main
  schedule:
    - cron: '0 12 15 2 *'  # February 15 at noon UTC
    - cron: '0 12 15 5 *'  # May 15 at noon UTC
    - cron: '0 12 15 8 *'  # August 15 at noon UTC
    - cron: '0 12 15 11 *' # November 15 at noon UTC

name: render

jobs:
  render:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: quarto-dev/quarto-actions/setup@v2
      - uses: r-lib/actions/setup-r@v2

      - name: Install R package dependencies.
        run: install.packages(c("knitr", "rmarkdown"))
        shell: Rscript {0}

      - name: Cache results
        uses: actions/cache@v2
        with:
          path: |
            docs
            _freeze
          key: site-render-${{ hashFiles('**/*md') }}
          restore-keys: site-render-

      - name: Render
        run: quarto render

      - name: Deploy to GitHub pages
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          clean: false
          branch: gh-pages
          folder: docs
